*.pyc
*~
.lock*
.wafpickle-*
demos/out.txt
waf
build
demos/*/build*
playground/*/build*
.waf-*
*.log
*.pbm
*~
CMakeFiles
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.pdf
*.pickle
.navigation.sublime-project
.navigation.sublime-workspace
*.out
*.dat
*.tar
*.png
*.so
clean